@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 1rem;
  background-color: #EAEAEA;
}

form{
  text-align: center;
}

label{
  position: relative;
}
/* #label-nome{
  left: 5.75rem;
}
#label-estado{
  left: 5.5rem;
} */
/* #label-img{
  right: 2.5rem;
} */
/* .add-player-container label{
  left: 5.75rem;
}
#label-time{
  left: 36.65rem;
} */

hr{
  margin: 0 0 0.55rem 0;
  width: 25%;
  display: inline-block;
}

#name, #estado-select, option, #img-url-input, .add-player-container input, #time-select{
  width: 35%;
  display: inline-block;
}

input::placeholder{
  font-style: italic;
}

#btn-add{
  display: block;
  margin: 0 auto .5rem;
}

#btn-send{
  display: block;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  #name, #estado-select, option, #img-url-input, .add-player-container input, #time-select{
    width: 15%;
  }
  /* #label-nome{
    top: 5.25rem;
    left: 36rem
  }
  #label-estado{
    top: 8.65rem;
    left: 35.75rem;
  }
  #label-img{
    top: 12rem;
    left: 35rem;
  }
  .add-player-container label{
    top: 20.85rem;
    left: 36rem;
  }
  #label-time{
    top: 	24.6rem;
    left: 36.65rem;
  } */
}