body{
  margin: 1rem;
  text-align: center;
}

#home-team, #away-team{
  width: 15%;
  display: inline-block;
}

#home-team-goals, #away-team-goals{
  width: 4%;
  display: inline-block;
}

hr{
  width: 50%;
  display: inline-block;
}

button{
  margin: 0.5rem;
}